.country_name_heading{
	font-family: sans-serif;
	font-weight: bolder;
	
}
#country_container{
	margin-top: 10px;
	padding: 10px;
}
.country_detail_container{
    font-size: 1vw;

}
.neighbour_section{
	border:1px #D9D9D9 solid;
	margin-top: 20px;
	margin-bottom: 20px; 

}
.neighbour_container{
	margin: 20px;
}
#neighbour_rows{
	margin: 20px;
}
.countries_flag{
 	margin-top: 20px;
 	margin-bottom: 20px;
 }
@media screen and (max-width: 767px) {
 .countries_flag{
 	margin-top: 20px;
 	margin-bottom: 20px;
 } 
 .country_detail_container{
    font-size: 2.5vw;

} 
}
@media screen and (min-width: 768px) {
	.countries_flag{
		margin-top: 20px;
		margin-bottom: 20px;
	} 
	.country_detail_container{
	   font-size: 1.3vw;
   
   } 
   
   }


   