.heading_countries{
  font-family: sans-serif;
  font-weight: bolder;
}

.svg_append
{
  box-sizing: border-box;
  border: 1px solid #a5b0b6;
  background-image: url('../public/search.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-origin: content-box;
  background-size: 1.5rem 1.5rem;
  border-radius: 0px;
}
.country_container{
  border:1px #D9D9D9 solid;
  margin-top: 10px;
  padding: 10px;

}
.country_with_detail_country_name{
   font-weight: bold
}
.country_detail_container{
  font-size: 14px;

}
.button_container{
margin-top:5px;
}
.export_button_container{
  display:flex;
  justify-content:flex-end ;
  
  }
.show_button{
  border-radius: 0px;
  color:#0C22CB;
  padding: 2px;
  border:2px #0C22CB solid; 
  font-weight: bold;

}
.button_container a:link {


text-decoration: none;


}


.button_container a:visited {


text-decoration: none;


}


.button_container a:hover {


text-decoration: none;


}


.button_container a:active {


text-decoration: none;


}

.country-without-detail-container{

}
 
@media screen and (min-width: 1200px) {
  .country_detail_container{
    font-size: 17px;
  
  }
  .show_button{
  font-size: 18px;
  }
  } 
  
     